In [94]:
import pandas as pd

In [95]:
df = pd.read_csv('tn_nashville_2020_04_01.csv')

<ipython-input-95-24d8c690166b>:1: DtypeWarning: Columns (6,8,15,16,17,22,23,24,25,29,30,31,32,33,35,36,37,38,40,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('tn_nashville_2020_04_01.csv')

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3092351 entries, 0 to 3092350
Data columns (total 42 columns):
 #   Column                          Dtype
---  ------                          -----
 0   raw_row_number                  object
 1   date                            object
 2   time                            object
 3   location                        object
 4   lat                             float64
 5   lng                             float64
 6   precinct                        object
 7   reporting_area                  float64
 8   zone                            object
 9   subject_age                     float64
 10  subject_race                    object
 11  subject_sex                     object
 12  officer_id_hash                 object
 13  type                            object
 14  violation                       object
 15  arrest_made                     object
 16  citation_issued                 object
 17  warning_issued                  object
 18  outcome                         object
 19  contraband_found                object
 20  contraband_drugs                object
 21  contraband_weapons              object
 22  frisk_performed                 object
 23  search_conducted                object
 24  search_person                   object
 25  search_vehicle                  object
 26  search_basis                    object
 27  reason_for_stop                 object
 28  vehicle_registration_state      object
 29  notes                           object
 30  raw_verbal_warning_issued       object
 31  raw_written_warning_issued      object
 32  raw_traffic_citation_issued     object
 33  raw_misd_state_citation_issued  object
 34  raw_suspect_ethnicity           object
 35  raw_driver_searched             object
 36  raw_passenger_searched          object
 37  raw_search_consent              object
 38  raw_search_arrest               object
 39  raw_search_warrant              bool
 40  raw_search_inventory            object
 41  raw_search_plain_view           object
dtypes: bool(1), float64(4), object(37)
memory usage: 970.3+ MB

In [97]:
# Calculate the percentage of missing values in each column
percent_missing = df.isnull().sum() * 100 / len(df)

In [98]:
percent_missing

raw_row_number                     0.000000
date                               0.000000
time                               0.176791
location                           0.000000
lat                                6.050607
lng                                6.050607
precinct                          12.618943
reporting_area                    10.748877
zone                              12.618943
subject_age                        0.027131
subject_race                       0.059825
subject_sex                        0.414636
officer_id_hash                    0.000356
type                               0.000000
violation                          0.259350
arrest_made                        0.000905
citation_issued                    0.010348
warning_issued                     0.010898
outcome                            0.062574
contraband_found                  95.870294
contraband_drugs                  95.870294
contraband_weapons                95.870294
frisk_performed                    0.000711
search_conducted                   0.001261
search_person                      0.001391
search_vehicle                     0.001326
search_basis                      95.870294
reason_for_stop                    0.259350
vehicle_registration_state         1.028053
notes                             83.421837
raw_verbal_warning_issued          0.010898
raw_written_warning_issued        15.945506
raw_traffic_citation_issued        0.010380
raw_misd_state_citation_issued    22.436457
raw_suspect_ethnicity              0.002490
raw_driver_searched                0.000970
raw_passenger_searched             0.000291
raw_search_consent                 0.000679
raw_search_arrest                  0.000420
raw_search_warrant                 0.000000
raw_search_inventory               0.000065
raw_search_plain_view              0.000226
dtype: float64

In [99]:
# Drop columns with more than 50% missing values
df = df.loc[:, percent_missing <= 50]

In [100]:
df.isnull().sum() * 100 / len(df)

raw_row_number                     0.000000
date                               0.000000
time                               0.176791
location                           0.000000
lat                                6.050607
lng                                6.050607
precinct                          12.618943
reporting_area                    10.748877
zone                              12.618943
subject_age                        0.027131
subject_race                       0.059825
subject_sex                        0.414636
officer_id_hash                    0.000356
type                               0.000000
violation                          0.259350
arrest_made                        0.000905
citation_issued                    0.010348
warning_issued                     0.010898
outcome                            0.062574
frisk_performed                    0.000711
search_conducted                   0.001261
search_person                      0.001391
search_vehicle                     0.001326
reason_for_stop                    0.259350
vehicle_registration_state         1.028053
raw_verbal_warning_issued          0.010898
raw_written_warning_issued        15.945506
raw_traffic_citation_issued        0.010380
raw_misd_state_citation_issued    22.436457
raw_suspect_ethnicity              0.002490
raw_driver_searched                0.000970
raw_passenger_searched             0.000291
raw_search_consent                 0.000679
raw_search_arrest                  0.000420
raw_search_warrant                 0.000000
raw_search_inventory               0.000065
raw_search_plain_view              0.000226
dtype: float64

In [106]:
#Dropping raw_written_warning_issued because it is 100% missing for 2017-19, lat, lng 
# df = df.drop('raw_written_warning_issued', axis=1)
df = df.drop('lat', axis=1)
df = df.drop('lng', axis=1)
df = df.drop('reporting_area', axis=1)
df = df.drop('zone', axis=1)
df = df.drop('raw_misd_state_citation_issued', axis=1)

In [107]:
df2 = df.dropna()

In [108]:
df2

,raw_row_number,date,time,location,precinct,subject_age,subject_race,subject_sex,officer_id_hash,type,...,raw_verbal_warning_issued,raw_traffic_citation_issued,raw_suspect_ethnicity,raw_driver_searched,raw_passenger_searched,raw_search_consent,raw_search_arrest,raw_search_warrant,raw_search_inventory,raw_search_plain_view
1,237161,2010-10-10,10:00:00,"1122 LEBANON PIKE, NASHVILLE, TN, 37210",5.0,18.0,white,male,a983204b21,vehicular,...,False,True,N,False,False,False,False,False,False,False
2,232902,2010-10-10,10:00:00,"898 DAVIDSON DR, , TN, 37205",1.0,52.0,white,male,f5d8fbd78b,vehicular,...,True,False,N,False,False,False,False,False,False,False
3,233219,2010-10-10,22:00:00,"MURFREESBORO PIKE & NASHBORO BLVD, ANTIOCH, TN...",3.0,25.0,white,male,4f1d028e45,vehicular,...,True,False,N,False,False,False,False,False,False,False
5,232748,2010-10-10,01:00:00,"N GALLATIN PIKE & EDENWOLD RD, MADISON, TN, 37115",7.0,26.0,white,female,5a96851d64,vehicular,...,True,False,N,False,False,False,False,False,False,False
7,232901,2010-10-10,10:04:00,"3458 DICKERSON PIKE, NASHVILLE, TN, 37207",7.0,33.0,white,male,c64917c4fe,vehicular,...,True,False,N,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3092344,2554595,2016-09-09,09:54:00,"I 65 S & W TRINITY LN, NASHVILLE, TN, 37207",2.0,53.0,white,male,6761423fb7,vehicular,...,False,True,N,False,False,False,False,False,False,False
3092345,2554590,2016-09-09,09:54:00,"OLD HARDING PIKE & SAWYER BROWN RD, NASHVILLE,...",1.0,68.0,white,female,eacb17fe91,vehicular,...,True,False,N,False,False,False,False,False,False,False
3092346,2555063,2016-09-09,21:54:00,"44TH AVE N & PARK AVE, NASHVILLE, TN, 37209",1.0,28.0,black,male,e8c7fd5cb4,vehicular,...,True,False,N,False,False,False,False,False,False,False
3092348,2554596,2016-09-09,09:56:00,"ANNEX AVE & CAPRI DR, NASHVILLE, TN, 37209",1.0,67.0,white,male,9dadcd316d,vehicular,...,True,False,N,False,False,False,False,False,False,False
3092349,2560219,2016-09-09,09:56:00,"DICKERSON PIKE & GATEWOOD AVE, NASHVILLE, TN, ...",2.0,18.0,hispanic,male,e7099bc91c,vehicular,...,False,True,H,False,False,False,False,False,False,False

In [109]:
df2.columns

Index(['raw_row_number', 'date', 'time', 'location', 'precinct', 'subject_age',
       'subject_race', 'subject_sex', 'officer_id_hash', 'type', 'violation',
       'arrest_made', 'citation_issued', 'warning_issued', 'outcome',
       'frisk_performed', 'search_conducted', 'search_person',
       'search_vehicle', 'reason_for_stop', 'vehicle_registration_state',
       'raw_verbal_warning_issued', 'raw_traffic_citation_issued',
       'raw_suspect_ethnicity', 'raw_driver_searched',
       'raw_passenger_searched', 'raw_search_consent', 'raw_search_arrest',
       'raw_search_warrant', 'raw_search_inventory', 'raw_search_plain_view'],
      dtype='object')

What's the difference between search_person and raw_passenger_searched/raw_driver_searched?

In [110]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2647584 entries, 1 to 3092349
Data columns (total 31 columns):
 #   Column                       Dtype
---  ------                       -----
 0   raw_row_number               object
 1   date                         object
 2   time                         object
 3   location                     object
 4   precinct                     object
 5   subject_age                  float64
 6   subject_race                 object
 7   subject_sex                  object
 8   officer_id_hash              object
 9   type                         object
 10  violation                    object
 11  arrest_made                  object
 12  citation_issued              object
 13  warning_issued               object
 14  outcome                      object
 15  frisk_performed              object
 16  search_conducted             object
 17  search_person                object
 18  search_vehicle               object
 19  reason_for_stop              object
 20  vehicle_registration_state   object
 21  raw_verbal_warning_issued    object
 22  raw_traffic_citation_issued  object
 23  raw_suspect_ethnicity        object
 24  raw_driver_searched          object
 25  raw_passenger_searched       object
 26  raw_search_consent           object
 27  raw_search_arrest            object
 28  raw_search_warrant           bool
 29  raw_search_inventory         object
 30  raw_search_plain_view        object
dtypes: bool(1), float64(1), object(29)
memory usage: 628.7+ MB

In [111]:
# replace boolean values with integers in all columns
df2 = df2.replace({True: 1, False: 0})

In [112]:
df2 = df2.drop('location', axis=1)

In [114]:
df2['raw_suspect_ethnicity'].unique()

array(['N', 'H', 'U', 'H|N', 'N|H', 'U|N', 'N|U|U', 'H|N|N|N|N', 'N|U'],
      dtype=object)

In [115]:
df2 = df2.drop('raw_suspect_ethnicity', axis=1)

In [116]:
df2['reason_for_stop'].unique()

array(['moving traffic violation', 'vehicle equipment violation',
       'registration', 'seatbelt violation', 'safety violation',
       'investigative stop', 'parking violation', 'child restraint'],
      dtype=object)

In [117]:
df2['reason_for_stop'] = df2['reason_for_stop'].replace(
    {'seatbelt violation': 1, 
     'moving traffic violation': 2,
    'vehicle equipment violation': 3, 
     'investigative stop': 4,
    'registration': 5, 
     'safety violation': 6,
    'parking violation': 7, 
     'child restraint': 8})

In [118]:
df2['outcome'].unique()

array(['citation', 'warning', 'arrest'], dtype=object)

In [119]:
df2['outcome'] = df2['outcome'].replace(
    {'citation': 1, 
     'arrest': 2,
    'warning': 3})

In [120]:
#Violation is same as reason for stop
df2['violation'].unique()

array(['moving traffic violation', 'vehicle equipment violation',
       'registration', 'seatbelt violation', 'safety violation',
       'investigative stop', 'parking violation', 'child restraint'],
      dtype=object)

In [ ]:
df2 = df2.drop('violation', axis=1)

In [122]:
df2['type'].unique()

array(['vehicular'], dtype=object)

In [123]:
df2 = df2.drop('type', axis=1)

In [125]:
df2['officer_id_hash'].unique()

array(['a983204b21', 'f5d8fbd78b', '4f1d028e45', ..., '8cce3cebfc',
       'c3876b0901', 'e7e5087dc5'], dtype=object)

In [126]:
df2['subject_sex'].unique()

array(['male', 'female'], dtype=object)

In [127]:
df2['subject_sex'] = df2['subject_sex'].replace(
    {'male': 1, 
     'female': 2})

In [128]:
df2['subject_race'].unique()

array(['white', 'black', 'hispanic', 'asian/pacific islander', 'other',
       'unknown'], dtype=object)

In [129]:
df2['subject_race'] = df2['subject_race'].replace(
    {'hispanic': 1, 
     'white': 2,
    'black': 3, 
     'asian/pacific islander': 4,
    'unknown': 5, 
     'other': 5})

In [130]:
df2['precinct'].unique()

array([5.0, 1, 3.0, 7.0, 8.0, 2.0, 6.0, 4.0, '6', '1', '5', '2', '7', '8',
       '4', '3', 'U'], dtype=object)

In [133]:
# drop rows where 'precint' == 'U'
df2 = df2[df2['precinct'] != 'U']

In [134]:
# convert column to integers
df2['precinct'] = df2['precinct'].astype(int)

<ipython-input-134-7c2f6bb95c5a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['precinct'] = df2['precinct'].astype(int)

In [135]:
df2['date'].unique()

array(['2010-10-10', '2011-10-10', '2012-10-10', ..., '2014-09-09',
       '2015-09-09', '2016-09-09'], dtype=object)

In [136]:
# convert the date column to a datetime object
df2['date'] = pd.to_datetime(df2['date'])

# create a new column with the year values extracted from the date column
df2['year'] = df2['date'].dt.year
df2['month'] = df2['date'].dt.month
df2['day'] = df2['date'].dt.day

<ipython-input-136-c58840393d97>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['date'] = pd.to_datetime(df2['date'])
<ipython-input-136-c58840393d97>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['year'] = df2['date'].dt.year
<ipython-input-136-c58840393d97>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['month'] = df2['date'].dt.month
<ipython-input-136-c58840393d97>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['day'] = df2['date'].dt.day

In [137]:
# convert column to integers
df2['subject_age'] = df2['subject_age'].astype(int)

<ipython-input-137-3c022d09d179>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['subject_age'] = df2['subject_age'].astype(int)

In [138]:
df2

,raw_row_number,date,time,precinct,subject_age,subject_race,subject_sex,officer_id_hash,arrest_made,citation_issued,...,raw_driver_searched,raw_passenger_searched,raw_search_consent,raw_search_arrest,raw_search_warrant,raw_search_inventory,raw_search_plain_view,year,month,day
1,237161,2010-10-10,10:00:00,5,18,2,1,a983204b21,0,1,...,0,0,0,0,0,0,0,2010,10,10
2,232902,2010-10-10,10:00:00,1,52,2,1,f5d8fbd78b,0,0,...,0,0,0,0,0,0,0,2010,10,10
3,233219,2010-10-10,22:00:00,3,25,2,1,4f1d028e45,0,0,...,0,0,0,0,0,0,0,2010,10,10
5,232748,2010-10-10,01:00:00,7,26,2,2,5a96851d64,0,0,...,0,0,0,0,0,0,0,2010,10,10
7,232901,2010-10-10,10:04:00,7,33,2,1,c64917c4fe,0,0,...,0,0,0,0,0,0,0,2010,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3092344,2554595,2016-09-09,09:54:00,2,53,2,1,6761423fb7,0,1,...,0,0,0,0,0,0,0,2016,9,9
3092345,2554590,2016-09-09,09:54:00,1,68,2,2,eacb17fe91,0,0,...,0,0,0,0,0,0,0,2016,9,9
3092346,2555063,2016-09-09,21:54:00,1,28,3,1,e8c7fd5cb4,0,0,...,0,0,0,0,0,0,0,2016,9,9
3092348,2554596,2016-09-09,09:56:00,1,67,2,1,9dadcd316d,0,0,...,0,0,0,0,0,0,0,2016,9,9
3092349,2560219,2016-09-09,09:56:00,2,18,1,1,e7099bc91c,0,1,...,0,0,0,0,0,0,0,2016,9,9

### Checking where the missing values are most common for 2017-2019

In [87]:
# convert the date column to a datetime object
df['date'] = pd.to_datetime(df['date'])

# create a new column with the year values extracted from the date column
df['year'] = df['date'].dt.year

In [89]:
value_counts = df['year'].value_counts()

# divide each count by the total number of rows in the DataFrame to get the percentage of rows for each unique value
percentages = value_counts / len(df) * 100

# print the result
print(percentages)

2012    14.362729
2014    13.359221
2013    13.345671
2011    12.716797
2015    11.553055
2010    10.044849
2016     9.612363
2017     7.941046
2018     6.603940
2019     0.460329
Name: year, dtype: float64

In [91]:
#raw_written_warning_issued is missing for 2019 
selected_rows = df[df['year'] == 2019]
selected_rows

selected_rows.isnull().sum() * 100 / len(selected_rows)

raw_row_number                      0.000000
date                                0.000000
time                                0.084299
location                            0.000000
lat                                16.143309
lng                                16.143309
precinct                            0.007025
reporting_area                      0.007025
zone                                0.007025
subject_age                         0.119424
subject_race                        0.084299
subject_sex                         0.625220
officer_id_hash                     0.000000
type                                0.000000
violation                           0.442571
arrest_made                         0.000000
citation_issued                     0.000000
warning_issued                      0.000000
outcome                             0.000000
frisk_performed                     0.000000
search_conducted                    0.000000
search_person                       0.000000
search_vehicle                      0.000000
reason_for_stop                     0.442571
vehicle_registration_state          6.842290
raw_verbal_warning_issued           0.000000
raw_written_warning_issued        100.000000
raw_traffic_citation_issued         0.000000
raw_misd_state_citation_issued      0.000000
raw_suspect_ethnicity               0.000000
raw_driver_searched                 0.000000
raw_passenger_searched              0.000000
raw_search_consent                  0.000000
raw_search_arrest                   0.000000
raw_search_warrant                  0.000000
raw_search_inventory                0.000000
raw_search_plain_view               0.000000
year                                0.000000
dtype: float64

In [92]:
#raw_written_warning_issued is missing for 2018
selected_rows = df[df['year'] == 2018]
selected_rows

selected_rows.isnull().sum() * 100 / len(selected_rows)

raw_row_number                      0.000000
date                                0.000000
time                                0.103321
location                            0.000000
lat                                 9.597144
lng                                 9.597144
precinct                            0.121929
reporting_area                      0.056313
zone                                0.121929
subject_age                         0.105770
subject_race                        0.123888
subject_sex                         0.390761
officer_id_hash                     0.000490
type                                0.000000
violation                           0.434832
arrest_made                         0.001959
citation_issued                     0.004897
warning_issued                      0.003917
outcome                             0.034277
frisk_performed                     0.001469
search_conducted                    0.001959
search_person                       0.001959
search_vehicle                      0.001959
reason_for_stop                     0.434832
vehicle_registration_state          6.336887
raw_verbal_warning_issued           0.003917
raw_written_warning_issued        100.000000
raw_traffic_citation_issued         0.004897
raw_misd_state_citation_issued      0.002938
raw_suspect_ethnicity               0.025463
raw_driver_searched                 0.001959
raw_passenger_searched              0.000000
raw_search_consent                  0.000490
raw_search_arrest                   0.001959
raw_search_warrant                  0.000000
raw_search_inventory                0.000000
raw_search_plain_view               0.000000
year                                0.000000
dtype: float64

In [93]:
#raw_written_warning_issued is missing for 2018
selected_rows = df[df['year'] == 2017]
selected_rows

selected_rows.isnull().sum() * 100 / len(selected_rows)

raw_row_number                      0.000000
date                                0.000000
time                                0.109136
location                            0.000000
lat                                 7.651742
lng                                 7.651742
precinct                            0.168591
reporting_area                      0.056197
zone                                0.168591
subject_age                         0.053754
subject_race                        0.077780
subject_sex                         0.085924
officer_id_hash                     0.003258
type                                0.000000
violation                           0.308269
arrest_made                         0.000000
citation_issued                     0.010995
warning_issued                      0.011402
outcome                             0.014660
frisk_performed                     0.000814
search_conducted                    0.002036
search_person                       0.002036
search_vehicle                      0.002443
reason_for_stop                     0.308269
vehicle_registration_state          5.191294
raw_verbal_warning_issued           0.011402
raw_written_warning_issued        100.000000
raw_traffic_citation_issued         0.010995
raw_misd_state_citation_issued      0.004072
raw_suspect_ethnicity               0.001629
raw_driver_searched                 0.001629
raw_passenger_searched              0.000814
raw_search_consent                  0.001222
raw_search_arrest                   0.000000
raw_search_warrant                  0.000000
raw_search_inventory                0.000407
raw_search_plain_view               0.000000
year                                0.000000
dtype: float64

### Back to cleaning df2

In [143]:
# convert 'time' column to datetime type
df2['time'] = pd.to_datetime(df2['time'])

<ipython-input-143-75ede8dd77ee>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['time'] = pd.to_datetime(df2['time'])

In [148]:
# extract time component
df2['time'] = df2['time'].dt.time

<ipython-input-148-700f30f0790e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['time'] = df2['time'].dt.time

In [152]:
df2

,raw_row_number,date,time,precinct,subject_age,subject_race,subject_sex,officer_id_hash,arrest_made,citation_issued,...,raw_driver_searched,raw_passenger_searched,raw_search_consent,raw_search_arrest,raw_search_warrant,raw_search_inventory,raw_search_plain_view,year,month,day
1,237161,2010-10-10,10:00:00,5,18,2,1,a983204b21,0,1,...,0,0,0,0,0,0,0,2010,10,10
2,232902,2010-10-10,10:00:00,1,52,2,1,f5d8fbd78b,0,0,...,0,0,0,0,0,0,0,2010,10,10
3,233219,2010-10-10,22:00:00,3,25,2,1,4f1d028e45,0,0,...,0,0,0,0,0,0,0,2010,10,10
5,232748,2010-10-10,01:00:00,7,26,2,2,5a96851d64,0,0,...,0,0,0,0,0,0,0,2010,10,10
7,232901,2010-10-10,10:04:00,7,33,2,1,c64917c4fe,0,0,...,0,0,0,0,0,0,0,2010,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3092344,2554595,2016-09-09,09:54:00,2,53,2,1,6761423fb7,0,1,...,0,0,0,0,0,0,0,2016,9,9
3092345,2554590,2016-09-09,09:54:00,1,68,2,2,eacb17fe91,0,0,...,0,0,0,0,0,0,0,2016,9,9
3092346,2555063,2016-09-09,21:54:00,1,28,3,1,e8c7fd5cb4,0,0,...,0,0,0,0,0,0,0,2016,9,9
3092348,2554596,2016-09-09,09:56:00,1,67,2,1,9dadcd316d,0,0,...,0,0,0,0,0,0,0,2016,9,9
3092349,2560219,2016-09-09,09:56:00,2,18,1,1,e7099bc91c,0,1,...,0,0,0,0,0,0,0,2016,9,9

In [156]:
# convert time column to datetime format with a placeholder date
df2['time'] = pd.to_datetime('2022-01-01 ' + df2['time'].astype(str))

# extract hour component from datetime format
df2['hour'] = df2['time'].dt.hour

# bin the hour values into desired time buckets
bins = [0, 2, 10, 24]
labels = ['10pm-6am', '6am-2pm', '2pm-10pm']
df2['time_bucket'] = pd.cut(df2['hour'], bins=bins, labels=labels, include_lowest=True)

<ipython-input-156-5c85e079b48f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['time'] = pd.to_datetime('2022-01-01 ' + df2['time'].astype(str))
<ipython-input-156-5c85e079b48f>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['hour'] = df2['time'].dt.hour
<ipython-input-156-5c85e079b48f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['time_bucket'] = pd.cut(df2['hour'], bins=bins, labels=labels, include_lowest=True)

In [168]:
df2['time_bucket'] = df2['time_bucket'].replace(
    {'6am-2pm': 'Morning', 
     '2pm-10pm': 'Afternoon',
    '10pm-6am': 'Night'})

<ipython-input-168-bcc21644eae6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['time_bucket'] = df2['time_bucket'].replace(

In [171]:
df3 = df2.groupby(['date', 'precinct', 'time_bucket']).size().reset_index(name='count')

In [172]:
df3

            date  precinct time_bucket  count
0     2010-01-01         1       Night      0
1     2010-01-01         1     Morning      0
2     2010-01-01         1   Afternoon     18
3     2010-01-01         2       Night      3
4     2010-01-01         2     Morning      4
...          ...       ...         ...    ...
80875 2019-03-24         7     Morning      0
80876 2019-03-24         7   Afternoon      9
80877 2019-03-24         8       Night      0
80878 2019-03-24         8     Morning      0
80879 2019-03-24         8   Afternoon      6

[80880 rows x 4 columns]

In [173]:
# convert dataframe to CSV file
df2.to_csv('nashville_clean.csv', index=False)

In [174]:
# convert dataframe to CSV file
df3.to_csv('output.csv', index=False)

In [2]:
import pandas as pd 

df2 = pd.read_csv('nashville_clean.csv')

In [3]:
df4 = df2.groupby(['date']).size().reset_index(name='count')

In [6]:
# convert dataframe to CSV file
df4.to_csv('output_dates_only.csv', index=False)